* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body {
	font-family: sans-serif;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	font-weight: normal;
}
button,
input,
textarea,
select {
	font: inherit;
	outline: none;
}
img,
video,
canvas,
svg {
	max-width: 100%;
}
a {
	text-decoration: none;
	color: inherit;
}
ul {
	list-style: none;
}
button {
	outline: none;
	&:not(:disabled) {
		cursor: pointer;
	}
}
